<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find ropod_gazebo)/resources/:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_MODEL_PATH" value="$(find ropod_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ropod_gazebo)/worlds/brsu_ground_floor_full_demo.world"/>
  </include>

  <arg name="model" default="$(find ropod_description)/xacro/ropod.xacro"/>
  <param name="robot_description" command="rosrun xacro xacro '$(arg model)'" />

  <!-- http://wiki.ros.org/joint_state_publisher -->
  <param name="value" command="rosrun xacro xacro '$(arg model)'" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="10"/>
  </node>

  <!-- http://wiki.ros.org/robot_state_publisher/Tutorials/Using%20the%20robot%20state%20publisher%20on%20your%20own%20robot -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
  </node>

  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-param robot_description  -urdf -x 0 -y 0 -z 1 -model ropod" /> 
</launch>